<div class="row">
{{# each products }}
    {{# each this}}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src={{this.imagePath}} alt="..." class="img-responsive">
            <div class="caption">
                <h3>{{this.title}}</h3>
                <p class="description">{{this.description}}</p>
                <div class="clearfix">
                    <div class="price pull-left"><i class="fas fa-rupee-sign"></i> {{this.price}}</div>
                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to my cart</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
{{/each}}
</div>